h1
  text-align: center
h2
  text-align: center
p
  margin: 0px
  margin-top: 15px
  margin-bottom: 5px

.js-var
  li
    margin-left: 15px
    padding: 5px
    list-style-type: none
    background-color: #f7f7f7
