.title
  text-align: center
  font-size: 30px
  font-weight: bold

  .docs
    text-align: left

.code
  background-color: #f7f7f7
  li
    list-style-type: none

.menu
  p
    text-align: center
    font-size: 20px
    font-weight: bold

.row
  margin: 0px
  .col-2
    border: 0px
    border-right: 5px
    border-style: inset
    border-color: #343a40
