.container-fluid
  text-align: center
  padding: 0px
  margin: 0px


.content
  padding: 0px
  min-height: calc(100vh - 96px)

.Links
  padding-bottom: 40px
  color: white
  background-color: rgba(0, 0, 0, 0.71)
.dropdown-item
  text-align: center
  color: white
  font-weight: bold
  &:hover
    background-color: rgba(0, 0, 0, 0.47)
    color: white
.todo
  background-color: rgba(0, 0, 0, 0.71)
  color: white
.goals
  background-color: rgba(0, 0, 0, 0.71)
  color: white
.Header
  margin: 0px
  padding-top: 50px
  padding-left: 30px
  padding-right: 30px
  color: white
  padding-bottom: 30px
  font-weight: bold
  background-color: rgba(0, 0, 0, 0.71)
  ul
    margin-top: 70px
    margin-bottom: 70px
    margin-left: 10%
    text-align: left
    list-style-type: none
    p
      font-size: 25px
    li
      margin-left: 15px
      list-style-type: none



.bg
  background-image: url('./../../background.jpg')
  background-size: cover
