.dropdown-menu
  background-color: #343a40
  .dropdown-item
    color: white

.nav-link
  padding: 12px
  &:hover
    background-color: rgba(0, 0, 0, 0.47)


.navbar
  padding: 0px

.navbar-collapse
  padding: 0px
