.footer-content
  padding: 0px
  width: 100%
  bottom: 0
  .row
    margin: 0px
    .left
      text-align: left
    .middle
      text-align: center
    .right
      text-align: right

span
  margin-left: 10px
  margin-right: 10px
  text-align: center
.footer
  padding-top: 12px
  padding-bottom: 12px
  background-color: #343a40
  color: white
